html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}

p {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  background-color: #1c5dff;
  margin: 0;
}

.header {
  margin: auto;

  background-color: #1c5dff;
  color: white;
  padding: 2rem;
  padding-top: 5rem;
}

.body {
  width: 100%;
  background-color: #f5f5f5;
  font-family: 'Calibre', sans-serif;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.3px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.titleText {
  font-size: 5rem;
  color: white;
  margin: 0;
  padding: 0;
}

.personDescription {
  font-size: 20px;
}

.textCenter {
  text-align: left;
}

.imgCircle {
  border-radius: 50%;
  margin: 5px;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.tabs {
  position: fixed;
  z-index: 10000;
  display: flex;
  margin: auto;
  width: 100%;
  height: 4rem;
  background-color: #1c5dff;
}

.tab {
  position: relative;
  width: 33%;
  font-size: 20px;
  color: white;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
}

.tab:hover {
  text-decoration: underline;
}

.projectTabs {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.contactText {
  font-size: 1.5rem;
}

.contactLogo {
  width: 100%;
}

.contactItem {
  width: 2rem;
  margin: 5px;
}

.headerItems {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.headerImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-right: 10rem;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
}

.hrStyleWhite {
  width: 25%;
  height: 2px;
  border: 0;
  padding: 0;
  background: white;
}

.hrStyleBlue {
  width: 25%;
  height: 2px;
  border: 0;
  padding: 0;
  background: #000;
}

.aboutMe {
  background-color: white;
  color: #000;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
}

.aboutMeTitle {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Calibre', sans-serif;
  padding-top: 2.5rem;
}

.aboutMeDescription {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 400;
}

.projects {
  background-color: #f5f5f5;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.projectsTitle {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Calibre', sans-serif;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.projectTitle {
  margin: 0;
  font-size: 1.2rem;
  color: #000;
}

.projectDescription {
  font-weight: lighter;
  text-align: left;
  font-size: 1.2rem;
  color: #000;
  opacity: 0.6;
}

.algorithms {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  width: 100vw;
}

.algorithmsTitle {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  font-family: 'Calibre', sans-serif;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.projectDiv {
  width: 100%;
  height: 40%;
  display: flex;
}

.projectImage {
  width: 60%;
}

.projectDivImage {
  background-color: #1c5dff;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60%;
}

.projectText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 0.1rem;
  height: 40%;
}

.project-summary {
  padding: 16px;
  min-width: 260px;
  min-height: 300px;
  width: 15.2vw;
  height: 19vw;

  color: #2196f3;
  background-color: white;
  margin: 1rem;

  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  border-bottom: 0 none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

  border-radius: 1%;
}

.project-summary:hover {
  background: #d4dadf;
  opacity: 0.8;
}
.projectLink {
  text-decoration: none;
}

.algorithmTabs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.algorithmSubtitle {
  color: #000;
  padding: 0rem 1.5rem 0.5rem 1.5rem;
  width: 100%;
}

.algorithmSubtitleLink {
  text-decoration: none;
  width: 33%;
  display: flex;
  justify-content: center;
}

.algorithmSubtitle:hover {
  text-decoration: underline;
}

.algorithmText {
  text-align: center;
  font-size: 1.5rem;
}

.algorithmBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.algorithm-summary {
  display: flex;

  height: 10rem;
  width: 100%;
  margin-top: 2%;

  border-bottom: 0 none;
  -webkit-box-shadow: 0 3px 2px #777;
  -moz-box-shadow: 0 3px 2px #777;
  box-shadow: 0 3px 2px #777;
}

.algorithmLink {
  display: flex;
  text-decoration: none;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.algorithmLink:hover {
  background-color: #eeeeee;
}

.algorithmImage {
  width: 10rem;
  padding-right: 10rem;
}

.algorithmDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.algorithImageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4392f1;
  width: 33.3%;
}

.algorithmTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: white;
  width: 66.6%;
}

.algorithmDivDiv {
  text-align: center;
  display: flex;
  width: 100%;
}

.algorithmTitle {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  font-family: 'Calibre', sans-serif;
  padding-top: 2.5rem;
}

.algorithmDescription {
  text-align: left;
  font-weight: bold;
}

.algorithmSelect {
  background-color: #e2f5ff;
}

.active {
  background-color: #e2f5ff;
  opacity: 1;
}
.publications {
  background-color: #1c5dff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.publication {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
}

.publicationName {
  font-size: 1.5rem;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.publicationAuthors {
  font-size: 1rem;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.publicationJournal {
  font-size: 1rem;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.publicationImageDiv {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publicationImage {
  width: 12rem;
}

.publicationText {
  width: 75%;
  color: white;
}

.attributes {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.attributesButtonDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.attributesButton {
  padding: 5px;
  background-color: #2196f3;
  color: white;
  border-radius: 5%;
  opacity: 0.4;
}

.attributesButton:hover {
  opacity: 1;
}

.attributesTitle {
  text-align: center;
  font-size: 2rem;
  color: #104870;
  padding-top: 3rem;
}

.attributesSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attributeText {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.5rem;
  width: 75%;
  color: #104870;
}

.attributeIndex {
  padding-right: 2rem;
}

.attributeItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: auto;
}

@media (max-width: 1000px) {
  .projectTabs {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

@media (max-width: 700px) {
  .projectTabs {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .projects {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .algorithms {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .projects {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .algorithms {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .projects {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .algorithms {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (min-width: 1800px) {
  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .algorithms {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .contacts {
    display: flex;
    justify-content: center;
  }
  .headerItems {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .headerImage {
    display: flex;
    align-content: center;
    padding-right: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .headerText {
    display: flex;
  }

  .titleText {
    font-size: 3rem;
  }
  .aboutMeDescription {
    font-size: 1rem;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }

  .aboutMeTitle {
    font-size: 2rem;
  }

  .algorithmsTitle {
    font-size: 2rem;
    color: white;
  }

  .projectsTitle {
    font-size: 2rem;
  }

  .publicationTitle {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-align: center;
    font-family: 'Calibre', sans-serif;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .attributeTitle {
    font-size: 2rem;
  }

  .tabs {
    display: none;
  }

  .algorithmText {
    font-size: 1rem;
  }

  .publicationText {
    padding-left: 2rem;
  }

  .publicationName {
    font-size: 1rem;
    text-align: left;
  }

  .publicationAuthors {
    font-size: 0.8rem;
    text-align: left;
  }

  .publicationJournal {
    font-size: 0.8rem;
    text-align: left;
  }

  .publicationImage {
    width: 8rem;
  }

  .publications {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .attributeText {
    font-size: 0.8rem;
  }

  .attributeItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
  }
}

.translatorSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 20rem;
  margin: auto;
}

.translatorField {
  width: 45%;
  height: 100%;
}

#translatorInput {
  width: 100%;
  height: 80%;
  font-size: 2rem;
}

#translatorOutput {
  width: 100%;
  height: 80%;
  font-size: 2rem;
}
